.cuadro-cesar {
    border: 2px solid #007BFF; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px auto; 
    background-color: #ffffff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
    width: 100%; 
    max-width: 400px; 
}

.cuadro-cesar h1 {
    text-align: center; 
    color: #051a31; 
    font-size: 2em; 
    margin-bottom: 20px; 
}

.cuadro-cesar input {
    display: block;
    margin: 10px auto; 
    padding: 5px; 
    width: 70%; 
    max-width: 400px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    font-size: 1em; 
    transition: border-color 0.3s;
}

.cuadro-cesar input:focus {
    border-color: #007bff; 
    outline: none; 
}

.cuadro-cesar button {
    padding: 12px 25px; 
    margin: 10px; 
    background-color:#007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    font-size: 1em; 
    display: inline-block; 
}

.cuadro-cesar button:hover {
    background-color:  #0056b3; 
    transform: translateY(-2px); 
}

.resultado {
    margin-top: 20px; 
    font-size: 1.2em; 
    padding: 15px; 
    border: 2px solid #007bff; 
    border-radius: 10px; 
    background-color: #f8f9fa; 
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1); 
}

.botones-cifrado {
    display: flex;
    gap: 10px; 
    justify-content: center; 
    margin-top: 15px; 
}

table {
    border-collapse: collapse;
    margin: 10px auto;
    font-size: 0.7em;
}

td {
    border: 1px solid #007bff; 
    padding: 3px; 
    text-align: center; 
    background-color: #e9fce9; 
    border-radius: 2px; 
}

td:first-child {
    background-color: #d4edda; 
}

